.header_div{
	/*width: 100%;*/
	height: 170px;
	background-image: url(../images/bg.jpg)
}
.header_img2{
	margin-top:50px; 
	margin-left: 200px;
}
.header_table{
	float: right;
	margin-top: 50px;
	margin-right: 100px;
}
.aaa{
	margin: 20px;
	text-decoration:none;
	color:white;
	font-family: arial;
	/*font-weight: bold;*/
	font-size: 20px;
}
.welc a{
	text-decoration: none;
	color:gray;
	font-family: normal;
	font-size: 12px;
}
.header_tr1 td{
	padding-top: 20px;
	text-align: center;
}
.bg_images{
	height: 425px;
	background: url(../images/bg_slider.gif);
	border:2px solid black;
}
.img4{
	margin-left: 200px;
}
.header_tr{
	text-align: center;
	line-height: 10px;
}
.header_tr td{
	color: gray;
}
.tr_td1 a:hover{
	color: green;
}
.tr_td1 a:active{
	color:maroon;
}
.bg{
	height: 250px;
	width: 100%;
	margin-top: 10px;
}
.welc a:hover{
	color: white;
}
footer{
	background-color: black;
	height: 380px;
	width: 100%;
	margin-top:0px;
}
.footer_tr{
	color: gray;
	margin-left: 50px;

}
.footer_tr td{
	padding-left: 100px;
	padding-top: 0px;
}
.footer_table{
	margin-top: -250px;
	margin-left: 70px;
}
#footer_id{
	color: white;
	font-size: 25px;
	line-height: 70px;
}
.footer_id1{
	padding-top: 50px;
}
.span_img{
	margin-top:10px;
	padding-right: 5px;
}
.email{
	color: white;
}
.footer_p{
	margin-left: 500px;
	color: gray;
	padding-top: 30px;
	line-height: 20px;
	outline-width: 20px;
}
.footer_p a{
	/*text-decoration: none;*/
	color: white;
}
.input1{
	height: 30px;
	width: 250px;
	font-style: italic;
}
.td{
	text-align: right;
	height: 20px;
	width: 100px;
}
/*.footer_td{
	text-decoration-color: 2px underline;
}*/
.soulign{
	position: relative;
	top:-10px;
	width: 180px;
}
.after_header{
	/*margin-top: -350px;*/
	border: 2px solid white;
	height: 240px;
	width: 100%;
	margin-top: 30px;
}
.after_header1{
	margin-left: 150px;
	border:2px solid white;
	height: 200px;
	width: 220px;
	margin-top: 20px;
}
.after_header2{
	border:2px solid white;
	width: 220px;
	margin-left: 420px;
	margin-top: -205px;
}
.after_header3{
	border:2px solid white;
	width: 220px;
	margin-left:690px;
	margin-top: -217px;
}
.after_header4{
	border:2px solid white;
	width: 250px;
	margin-left: 960px;
	margin-top: -215px;
}
.after_header4 a{
	color: green;
	font-weight: bold;
	font-size: 15px;
}
.after_header3 a{
	color: green;
	font-weight: bold;
	font-size: 15px;
}
.after_header2 a{
	color: green;
	font-weight: bold;
	font-size: 15px;
}
.after_header1 a{
	color: green;
	font-weight: bold;
	font-size: 15px;
}
.p_1{
	margin-left: 70px;
	margin-top: -60px;
	line-height: 25px;
	font-size: 30px;
	font-weight: normal;
	font-family: arial;
}
.p_2{
	margin-left: 70px;
	margin-top: -60px;
	line-height: 25px;
	font-size: 30px;
	font-weight: normal;
	font-family: arial;
}
.p_3{
	margin-left: 70px;
	margin-top: -60px;
	line-height: 25px;
	font-size: 30px;
	font-weight: normal;
	font-family: arial;
}
.p_4{
	margin-left: 70px;
	margin-top: -60px;
	line-height: 25px;
	font-size: 30px;
	font-weight: normal;
	font-family: arial;
}
.img_page1{
	height: 200px;
}
.after_after_header1{
	/*border:2px solid black;*/
	height: 300px;
	margin-left: 152px;
	width: 790px;
}
.para_1{
	/*border:2px solid black;*/
	width: 530px;
	margin-left: 260px;
	height: 200px;
	margin-top: -210px;
	font-family: Trebuchet;
	color: #696969;
	line-height: 22px;
	font-style: italic;
	font-weight: bold;
	padding-top: 35px;
}
.after_after_header2{
	height: 290px;
	width: 250px;
	border: 2px solid white;
	margin-left: 963px;
	margin-top: -305px;

}
.p_2_1{
	font-size: 40px;
	font-family: helvetica;
	line-height: 50px;
	margin-top: -3px;
	/*font-style: italic;*/
}
.p_p_1{
	font-family: Trebuchet;
	color: #696969;
	line-height: 22px;
	font-style: italic;
	font-weight: bold;
}
.hr_header{
	position: relative;
	top: -20px;
	border:1px solid gray;
	opacity: 0.2;
}
.number{
	/*border: 2px solid white;*/
	width: 1000px;
	margin-top: -20px;
	position: relative;
	top:-495px;
	left:160px;
}
.td_A{
	font-size: 50px;
	font-weight: bold;
	color: white;

}
.td_B{
	font-size: 50px;
	font-weight: bold;
	padding-left:50px;
	position: relative;
	left:30px; 
	color: white;
	top: 3px;
}
.td_C{
	font-size: 50px;
	font-weight: bold;
	position: relative;
	right:70px; 
	top:3px;
	color: white;
}
.td_D{
	font-size: 50px;
	font-weight: bold;
	color: white;
	position: relative;
	left:10px;
	top:5px;
}
.tesmon_p{
	background-color: #eeeeee;
	height: 115px;
	width: 250px;
	margin-top: -15px;
	padding-top: 50px;
	text-align: center;
	font-family: Trebuchet;
	color: #696969;
	line-height: 22px;
	font-style: italic;
	font-weight: bold;
}
.tesmo_p_p{
	line-height: 22px;


}
.tesmo_img{
	/*height: 50px;*/
	float: right;
	position: relative;
	top: 20px;
	border:2px solid white;
	margin-top:-5px;

}
.div_end{
	/*border:2px solid black;*/
	width: 110px;
	height: 40px;
	margin-top: -35px;
	background-color: white;
	position: relative;
	left: 1130px;
	top:-3px;
}
.james{
	margin-top: -20px;
	position: relative;
	top: 13px;
	left: 10px;
}
.input2{
	font-weight: bold;
}
.free{
	text-decoration: underline;
}

/*style de la page PRODUCTS*/
.section{
	text-align: center;
}
article{
	display: inline-block;
	text-align: justify;
	margin: 30px;
}
.P_div3,.P_div5,.P_div6,.P_div7,.P_div8,.P_div9{
	width: 270px;
	height: 120px;
	font-style: italic;
	color: rgb(98,103,117);
	font-weight: bold;
	font-size: 13px;

}

.P_titreprod{
	font-size: 30px;
	margin-left:66px;
	margin-top: -40px;
}

nav{
	margin-top: -80px;
}

.P_numero{
	font-weight:bold;
	font-size: 40px;
	margin-top: -57px;
	margin-left: 18px;
	color: rgb(255,255,255);
}
.ancrecolor{
	color: rgb(97,176,5);
	font-weight: bold;
	font-size: 13px;
}
.headergreenband{
	width: 100%;
	height: 20px;
}
/*style de la page NEWS*/
.chif{
	margin-top: -90px;
	margin-left: 12px;
	font-size: 33px;
	color: white;
}
.chif1{
	margin-top: -40px;
	margin-left: 20px;
	font-size: 15px;
	color: white;
}
.news{
	margin-left: 50px;
	margin-top: 50px;
	
}
.news1{
	font-size: 40px;
	margin-left: 120px;
	margin-top: -60px;
}
.news2{
	margin-left: 50px;
	margin-top: -20px;
}
.news3{
	margin-top: -150px;
	/*width: 900px;*/
	margin-left: 243px;
	text-align: justify;
}
.news3 a{
	text-decoration: none;
	color: green;
}
.news4{
	margin-left: 100px;
}
button{
	height: 35px;
	background-color: rgb(95 176 0);
	width: 30px;
	margin-right: -3px;
	border: none;

}
.news6{
	margin-left: 600px;
}
.news5{
	color: white;
	font-size: 18px;
}
.news7{
	background-color: rgb(106 106 106);
}
.back{
	width: 100%;
}
.news9{
   margin-bottom: 100px;
   margin-top: -10px;
   margin-left: 50px;
}
/*Dave css */
