 .one{
    border-bottom-style: inset;
    border-bottom-width: 1px;
    margin-left: 270px;
    margin-top: 100px;
    padding-bottom: 10px;
    position: relative;
    top: 50px;
    width: 950px;
    font-family:'Trebuchet MS';
    /* font-weight:lighter; */
    font-size: 40px;
    
}
.three{
    /* border: 1px solid black; */
    margin-left: 270px;
}
.four{
    margin-left: 350px;
    margin-top: -105px;
    /* border: 1px solid black; */
}
.five  {
    margin-left: 600px;
    margin-top: -50px;
    /* border: 1px solid black; */
}
.six {
    margin-left: 680px;
    margin-top: -75px;
    /* border: 1px solid black; */
}
.seven{
    margin-left: 930px;
    margin-top: -200px;
    /* border: 1px solid black; */
}
.eigth{
    margin-left: 1100px;
    margin-top: -250px;
    /* border: 1px solid black; */
}
/* .nine{
    margin-top: 200px;
} */
.ten {
    margin-top: -288px;
}
.twelve {
    margin-top: 102px;
}
.nine{
    margin-top: 100px;
}
 .zero{
    margin-top: 140px; 
}
.thirteen .eigth{
     margin-top: 88px;
     position: relative;
     left: -90px;
     /* font-weight: bold; */
     font-family: 'Trebuchet MS';
}
.twelve .seven{
    position: relative;
    bottom: 7px;
}
.thirteen .seven{
    position: relative;
    /* bottom: 80px; */
}
.ten .six{
    position: relative;
    top: -30px;
    /* font-weight: bold; */
    font-family: 'Trebuchet MS';
}
.zero .six {
    position: relative;
    top: -30px;
    /* font-weight: bold; */
    font-family: 'Trebuchet MS';
}
.twelve .eigth {
    position: relative;
    top: -55px;
    left: -90px;
    /* font-weight: bold; */
    font-family: 'Trebuchet MS';

}
.fourteen {
    margin-left: 350px;
    position: relative;
    top: 10px;
}
.fifteen {
    margin-left: 680px;
    margin-top: -20px;
}
.sixteen {
    margin-left:1010px ;
    margin-top: -50px;
}
.thirteen {
    margin-top: -10px;
}
.thirteen .sixteen{
    margin-top: 10px;
    position: relative;
    color: gray;
    font-family: 'arrow narrow';
    font-style: italic;
}
.twelve .sixteen {
    position: relative;
    top: 5px;
    color: gray;
    font-family: 'arrow narrow';
    font-style: italic;
}
.nine .four {
    /* font-weight: bold; */
    font-family: 'Trebuchet MS';
}
.nine .fourteen{
    color: gray;
    font-family: 'arrow narrow';
    font-style: italic;
}
.ten .fifteen{
    color: gray;
    font-family: 'arrow narrow';
    font-style: italic;
}
.zero .fifteen{
    color: gray;
    font-family: 'arrow narrow';
    font-style: italic;
}
.seventeen {
    margin-bottom: 100px;
    margin-top: -470px;
}