.header_div{
	/*width: 100%;*/
	height: 170px;
	background-image: url(../images/bg.jpg)
	margin-left:-300px;
	margin-right: 250px;
}
.header_img2{
	margin-top:50px; 
	margin-left: 200px;
}
.header_table{
	float: right;
	margin-top: 50px;
	margin-right: 100px;
}
.aaa{
	margin: 20px;
	text-decoration:none;
	color:white;
	font-family: arial;
	/*font-weight: bold;*/
	font-size: 20px;
}
.welc a{
	text-decoration: none;
	color:gray;
	font-family: normal;
	font-size: 12px;
}
.header_tr1 td{
	padding-top: 20px;
	text-align: center;
}
.bg_slider{
	width: 100%;
	height: 400px;
}
.img4{
	position: relative;
	top:-400px; 
	left: 180px;
	height: 395px;
}
.header_tr{
	text-align: center;
	line-height: 10px;
}
.header_tr td{
	color: gray;
}
.tr_td1 a:hover{
	color: green;
}
.tr_td1 a:focus{
	color:maroon;
}
.bg{
	height: 250px;
	width: 100%;
	margin-top: 10px;
}
.welc a:hover{
	color: white;
}
footer{
	background-color: black;
	height: 380px;
	width: 100%;
	margin-top:-100px;
}
.footer_tr{
	color: gray;
	margin-left: 50px;

}
.footer_tr td{
	padding-left: 100px;
	padding-top: 0px;
}
.footer_table{
	margin-top: -250px;
	margin-left: 85px;
	width: 700px;
	margin-right: 50px

}
#footer_id{
	color: white;
	font-size: 25px;
	line-height: 70px;
}
.footer_id1{
	padding-top: 50px;
}
.span_img{
	margin-top:10px;
	padding-right: 5px;
}
.email{
	color: white;
}
.footer_p{
	margin-left: 500px;
	color: gray;
	padding-top: 30px;
	line-height: 20px;
	outline-width: 20px;
}
.footer_p a{
	/*text-decoration: none;*/
	color: white;
}
.input1{
	height: 30px;
	width: 250px;
}
.td{
	text-align: right;
	height: 20px;
	width: 100px;
}
/*.footer_td{
	text-decoration-color: 2px underline;
}*/
.soulign{
	position: relative;
	top:-10px;
	width: 180px;
}
/*
.after_header{
	margin-top: -350px;
	border: 2px solid black;
	height: 500px;
	width: 100%;
}
.after_header1{
	margin-left: 150px;
	border:2px solid black;
	height: 250px;
	width: 250px;
}
.after_header2{
	position: relative;
	left:400px;
	top:-255px;
	border:2px solid black;
	height: 250px;
	width: 250px;
}
.after_header3{
	height: 250px;
	width: 250px;
	position: relative;
	left:250px;
	top:-252px;
	border:2px solid black;
}
.after_header4{
	height: 250px;
	width: 250px;
	position: relative;
	left:250px;
	top:-253px;
	border:2px solid black;
}
.p_1{
	font-size: 30px;
	font-weight: bold;
	line-height: 25px;
	float: right;
	
	margin-top: -50px;
	padding-right: 70px;
}*/